{% load static %}
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'recipes:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>cook</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"  aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">

          <ul class="nav nav-pills">
            {% with request.resolver_match.view_name as view_name %}

              <form class="d-flex" role="search" action="{% url 'recipes:search' %}" method="get">
                <input class="form-control me-2" type="text" name="s" placeholder="Ключевое слово..." aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Поиск</button>
              </form>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  О сайте
                </a>

                <ul class="dropdown-menu">
                  <li><a class="dropdown-item {% if view_name  == 'about:author' %}active{% endif %}" href="{% url 'about:author' %}">О авторе сайта</a></li>
                  <li><a class="dropdown-item {% if view_name  == 'about:tech' %}active{% endif %}" href="{% url 'about:tech' %}">Технологии сайта</a></li>
                </ul>
              </li>


              {% if user.is_authenticated %}

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Пользователь: {{ user.username }}
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item {% if view_name  == 'recipes:profile' and author.pk == user.pk  %}active{% endif %}" href="{% url 'recipes:profile' user.username %}">Мои рецепты</a></li>
                    <li><a class="dropdown-item {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Любимые рецепты</a></li>
                    <li><a class="dropdown-item {% if view_name  == 'recipes:follow_index' %}active{% endif %}" href="{% url 'recipes:follow_index' %}">Любимые авторы</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item {% if view_name  == 'recipes:recipe_create' %}active{% endif %}" href="{% url 'recipes:recipe_create' %}">Добавить новый рецепт</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item {% if view_name  == 'users:password_change_form' %}active{% endif %}" href="{% url 'users:password_change_form' %}">Изменить пароль</a></li>
                    <li><a class="dropdown-item {% if view_name  == 'users:logout' %}active{% endif %}" href="{% url 'users:logout' %}">Выйти</a></li>

                  </ul>
                </li>

                {% else %}

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Войти
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">Войти</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item {% if view_name  == 'users:signup' %}active{% endif %}" href="{% url 'users:signup' %}">Зарегистрироваться</a></li>
                  </ul>
                </li>

              {% endif %}
            {% endwith %}
          </ul>
      </div>
    </div>
  </nav>
</header>