{% load user_filters %}
<div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'recipes:add_comment' recipe.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addCommentModalLabel">Добавить комментарий</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-2" >
            {{ form.text|addclass:"form-control" }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary">Добавить комментарий</button>
        </div>
      </form>
    </div>
  </div>
</div>