<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Удалить рецепт?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить рецепт: {{ recipe.title }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <form action="{% url 'recipes:recipe_delete' recipe.pk %}" method="post">
          {% csrf_token %}
          <button class="btn btn-danger">Удалить рецепт</button>
        </form>
      </div>
    </div>
  </div>
</div>