<div class="modal fade" id="deleteComment{{ comment.id }}Modal" tabindex="-1" aria-labelledby="deleteComment{{ comment.id }}ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteComment{{ comment.id }}ModalLabel">Удалить комментарий?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          Вы действительно хотите удалить комментарий {{ comment.id }}?
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <form method="post" action="{% url 'recipes:delete_comment' recipe.id comment.id %}">
          {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить комментарий</button>
        </form>
      </div>
    </div>
  </div>
</div>