{% load user_filters %}
<div class="modal fade" id="editCommentModal" tabindex="-1" aria-labelledby="editCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editCommentModalLabel">Редактирование комментария {{ comment.id }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form method="post" action="{% url 'recipes:edit_comment' recipe.id comment.id %}">
          {% csrf_token %}
          <div class="mb-3">
{#            <label for="recipient-name" class="col-form-label">Recipient:</label>#}
            <input type="text" class="form-control" id="recipient-name">
          </div>
          </form>
{#        <form method="post" action="{% url 'recipes:edit_comment' recipe.id comment.id %}">#}
{#          {% csrf_token %}#}
{#          <div class="form-group mb-2">#}
{#            <input type="text" class="form-control" id="recipient-name">#}
{#          </div>#}
      </div>

      <div class="modal-footer">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        </div>
{#        </form>#}

      </div>

    </div>
  </div>
</div>