{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block title %} {{ recipe.text|truncatechars:30 }} {% endblock %}
{% block content %}
  <h1>Рецепт: {{ recipe.title }}</h1>
  <div class="row">

    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {% if recipe.image %}
            <img src="{{ recipe.image.url }}" width="350" class="img-fluid rounded-start" alt="">
          {% else %}
            <img src="{% static 'img/no_image.png' %}" width="350" class="img-fluid rounded-start" alt="">
          {% endif %}
        </li>
        {% if recipe.group %}
          <li class="list-group-item">
            Группа: {{ recipe.group.title }}
            <br>
            <a href="{% url 'recipes:group_list' recipe.group.slug %}">
              Все записи группы
            </a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Автор: {{ recipe.author.get_full_name }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего рецептов автора:  <span >{{ recipe.author.recipes.count }}</span>
          <br>
        </li>
        <li class="list-group-item">
          <a href="{% url 'recipes:profile' recipe.author %}">
            Все рецепты автора
          </a>
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-9">

        <p><b>{{ recipe|verbose_name:"description" }}:</b><br>{{ recipe.description }}</p>
        <p><b>{{ recipe|verbose_name:"ingredients" }}:</b><br>{{ recipe.ingredients }}</p>
        <p><b>{{ recipe|verbose_name:"technology" }}:</b><br>{{ recipe.technology }}</p>

      {% if recipe.author.pk == user.pk %}
        <a class="btn btn-primary" href="{% url 'recipes:recipe_edit' recipe.pk %}">
          редактировать запись
        </a>
      {% endif %}
      {% include 'recipes/includes/recipe_comments.html' %}
    </article>
  </div>
{% endblock %}