{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}

{% block content %}
  <h1>Привет, я Дмитрий автор этого проекта.</h1>
  <p>
    Я прохожу курс Python-разработчик на платформе Яндекс Практикум.<br>
    Проект Yatube это мой учебный проект, который я создаю в рамках курса Бэкенд на Джанго.<br>
    Я с большим удовольствием осваиваю новые для меня технологии.<br>
    Надеюсь в будущем эти знания помогут мне успешно развиваться в сфере IT-технологий.
  </p>
{% endblock %}
