{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Технологии проекта:</h1>
    <aside class="col-12 col-md-3">
      <p>Языки:</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Bootstrap
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>В проекте реализованы следующие возможности:</p>
        <ul>
          <li>Регистрация новых пользователей</li>
          <li>Авторизация пользователей</li>
          <li>Публикация новых рецептов</li>
          <li>Редактирование и удаление пользовательских рецептов</li>
          <li>Просмотр рецептов, созданных другими пользователями</li>
          <li>Просмотр страниц групп рецептов</li>
          <li>Просмотр страницы с рецептами созданными пользователем</li>
          <li>Подписка на любимых авторов и просмотр их рецептов на отдельной странице</li>
{#          <li>Подписка на любимые рецепты и просмотр их на отдельной странице</li>#}
          <li>Комментирование рецептов пользователей</li>
          <li>Редактирование и удаление пользовательских комментариев</li>
          <li>Поиск по заголовкам и ингредиентам рецептов</li>
          <li>Настроен адаптивный интерфейс</li>
          <li>Добавлена менеджерская команда для пополнения базы данных</li>
          <li></li>
          <li></li>
        </ul>
    </article>
  </div>
{% endblock %}
