{% if user.is_authenticated %}
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal" href="#">Добавить комментарий</button>
  {% include "recipes/includes/modals/add_comment.html" %}
  {% if comments %}
    <div class="card my-4">
      <h5 class="card-header">Комментарии к рецепту:</h5>
      <div class="card-body">

        {% for comment in comments %}
          <div class="media mb-4">
            <div class="media-body">

              <div class="row">
                <div class="col-11">
                  <h5 class="mt-0">
                    <a href="{% url 'recipes:profile' comment.author.username %}">
                      {{ comment.author.get_full_name }} (id-{{ comment.id }})
                    </a>
                  </h5>
                </div>

                <div class="col-1">
                  {% if user.pk == comment.author.pk %}
                    <div class="btn-group dropstart">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCommentModal" href="#">Редактировать</a></li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteCommentModal" href="#">Удалить</a></li>
                      </ul>
                      {% include "recipes/includes/modals/edit_comment.html" %}
                      {% include "recipes/includes/modals/delete_comment.html" %}
                    </div>
                  {% endif %}
                </div>

                <p>{{ comment.text }}</p>

              </div>

{#              <form action="{% url 'recipes:delete_comment' recipe.id comment.pk %}" method="post" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                {% include "modals/delete_comment.html" %}#}
{#                <button type="button" class="btn btn-primary"#}
{#                        data-bs-toggle="modal" data-bs-target="#deleteCommentModal">Удалить</button>#}
{#              </form>#}

            </div>
          </div>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}





