{% load static %}
{% if user.is_authenticated %}
  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal" href="#">Добавить комментарий</button>
  {% include "recipes/includes/modals/add_comment.html" %}
  {% if comments %}
    <div class="card my-4">
      <h5 class="card-header">Комментарии к рецепту:</h5>
      <div class="card-body">

        {% for comment in comments %}
          <div class="media mb-4">
            <div class="media-body">

              <div class="row">
                <div class="col-10">
                  <h5 class="mt-0">
                    <a href="{% url 'recipes:profile' comment.author.username %}">
                      {{ comment.author.get_full_name }}
                    </a>
                  </h5>
                </div>

                <div class="col-2">
                  {% if user.pk == comment.author.pk %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <div class="btn-group dropstart">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editCommentModal" data-bs-whatever="{{ comment.text }}" href="#">Редактировать</a></li>
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteComment{{ comment.id }}Modal" href="#">Удалить</a></li>
                        </ul>
                        {% include "recipes/includes/modals/edit_comment.html" %}
                        {% include "recipes/includes/modals/delete_comment.html" %}
                        <script src="{% static 'js/modal.js' %}"></script>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <p> (id-{{ comment.id }}) - {{ comment.text }}</p>
              </div>
            </div>
          </div>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}







